<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add new user</h3>
<div th:if="${message}">${message}</div>
<form th:action="@{/registration}" method="post">
  <div><label> User Name : <input type="text" name="username"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <div><label> Email: <input type="text" name="email"/> </label></div>
  <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>